<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{this.title}} - PNW Birds</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      All About Pacific Northwest Birds
    </header>
    <main>
      {{this.content}}
    </main>
    <footer>
      A Salal Demonstration Project
    </footer>
  </body>
</html>
